- var nav_icon = [{class: 'icon-home active', text: 'Home'}, {class: 'icon-bell', text: 'Notifications'}, {class: 'icon-slack', text: 'Discover'}, {class: 'icon-user', text: 'Me'}];

header
  .all_navs
    nav.nav_icon
      ul
        each val in nav_icon
          li(class=val.class)
            a(href="/"): span.text= val.text
  
    
    nav.nav_setting      
      ul
        li
          input(type="text", placeholder=" Search Twitter")
          span.icon-search
        li.icon-envelope
        li.icon-cog
        li.icon-quill: a(href="#")
