extends ./partials/layout

block content
  .wrapper  
    include ./partials/nav
    section.main_content 
      
      aside     
        .user_profile
          include ./partials/userProfile
        .trends
          include ./partials/trends
            
      .feed_news  
        include ./partials/feedNews
      
      aside
        .who_follow
          include ./partials/toFollow
        .footer
          include ./partials/footer
      
        
        
