extends ./partials/layout.jade

block content
  .wrapper  
    include ./partials/nav.jade
    section.main_content      
      .feed_news
        h2 Tweets  
        include ./partials/feedNews.jade
