- var footerItems = ['© 2016 Twitter','About','Help','Terms','Privacy','Cookies','Ads info','Brand','Blog','Status','Apps','Jobs','Advertise','Businesses','Media','Developers']

.twitterFooter__wrapper
  ul.twitterFooter__wrapper--list
  each val in footerItems
    li.twitterFooter__wrapper--item #{ val }
