- var footerItems = ['© 2014 Twitter','About','Help','Terms','Privacy','Cookies','Ads info','Brand','Blog','Status','Apps','Jobs','Advertise','Businesses','Media','Developers']

ul
each val in footerItems
  li.item #{ val }
