<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Twitter
    link(rel="icon", href="images/favicon.ico")
    link(rel="stylesheet", href="css/fonts.css")
    link(rel="stylesheet", href="css/dist/main.css")
    script(src='http://localhost:35729/livereload.js')
  body
      
  block content
  script( src="jquery/jquery.min.js" )
  script( src="js/bundle.js" )
  script( src="js/modal.js" )
