- var nav_icon = [{class: 'icon-home active', text: 'Home'},{class: 'icon-slack', text: 'Moments'},{class: 'icon-bell', text: 'Notifications'},{class: 'icon-envelope', text: 'Messages'}];

header.twitterHeader
  .twitterHeader__wrapper
  
    nav.twitterHeader__navIcons.twitterHeader__wrapper--navs
      ul.twitterHeader__navIcons--list
        each val in nav_icon
          li(class="#{val.class} twitterHeader__navIcons--item"): span.twitterHeader__navIcons--text= val.text
        li.icon-twitter.twitterHeader__navIcons--item
    
    
    nav.twitterHeader__navSettings.twitterHeader__wrapper--navs
      ul.twitterHeader__navSettings--list
        li.twitterHeader__navSettings--item.twitterHeader__navSettings--searchInput
          input(type="text", placeholder=" Search Twitter")
          span.icon-search
        li.icon-image.twitterHeader__navSettings--item.twitterHeader__navSettings--userImg: img(src="#{userStore.profile_image_url}", alt="user image for #{userStore.name}")
        li.twitterHeader__navSettings--item 
          span.icon-quill 
          span.twitterHeader__navSettings--quillText Tweet
