.twitterTrends__wrapper
  h3.twitterTrends__wrapper--title Trends
  ul.twitterTrends__wrapper--list
    each val in ['#node','23.2k Tweets','#js','123.2k Tweets','#arsenal','Trending for 2 hours now','#nerd','Trending for 12 hours now','#cloud','3.5k Tweets','#keepgoing','Trending for 3 hours now','#yolo','53.5k Tweets','#css3','3.5k Tweets','#foody','3k Tweets','#loop','5k Tweets']
      li.twitterTrends__wrapper--item= val
