/* Styles for fake Twitter */

*{
	margin:  0;
	padding: 0;
}

body,
header{
	min-width: 1300px;
}

*:focus{outline:0 !important;}

html{
	font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url(http://i.imgur.com/M61joDI.jpg) no-repeat center center fixed;
	/*background-size: cover;*/
}

.wrapper{
	width: 100%;
	margin: 0 auto;

}

/* Styles header navigation */

header{
	background-color: white;
	position: fixed;
	top: -2px;
	width: 100%;
	z-index: 1;
	height: 44px;
}

header ul li{
	list-style: none;
	margin-left: -5px;
	display: inline-block;
}

.all_navs{
	width: 87%;
	margin: 0 auto;
}

/* nav icons */
.active{ border-bottom: 4px solid  #0084B4;	}

.nav_icon li a,
.nav_icon li{

color: #66757F;
text-decoration: none;
}

.nav_icon li:hover,
.nav_icon li a:hover{
	color: #0084B4;
	transition: all .25s ease-in-out;
}

.nav_icon li:hover{ border-bottom: 4px solid;	}

.nav_icon ul li{ padding: 10px }

.nav_icon[class*=icon]{
	font-size: 20px;
	margin-left: 40px;
}

.text{
	font-size:   15px;
	font-weight: 600;
}

/* twitter image */

.img_twitter{
	color: #55ACEE;
	float: right;
	position: relative;
	top: -32px;
	right: 50%;
}


/* Styling settings nav */

.nav_setting{
	color: #A3ACB2;
	float: right;
	width: 440px;
	position: relative;
	top: -40px;
	font-size: 21px;
}

.nav_setting input{
	border: 0;
	width: 160px;
	position: relative;
	top: -5px;
	padding-left: 5px;
}

.nav_setting input[type=text]{
	background-color: #A3ACB2;
	color: white;
	height: 28px;
	border-radius: 15px;
	opacity: 0.9;
}

span.icon-search{
	color: white;
	position: relative;
	font-size: 15px;
	left: -30px;
	top: -2px;
}

.nav_setting input:focus{

	outline:0 !important;
	transition: all .2s ease-in-out;
	background: #66757F;

}

::-webkit-input-placeholder{
	color: white;
}

:focus::-webkit-input-placeholder { color:#A3ACB2; }

.nav_setting li{
	margin-left: 35px
}

.nav_setting li:hover{
	color: #0084B4;
	cursor: pointer;
}

.nav_setting li.icon-quill{
	border: 1px solid #0084B4;
	padding: 4px;
	background: #0084B4;
	color: white;
	border-radius: 5px;
	width: 30px;
	text-align: center;
	margin-top: 3px;
}

/* End header */


/* Own Styles modal  */

/******************************************************************************************************/

.modal_header{
   color:  #A3ACB2;
   border-bottom: solid 1px rgba(0, 132, 180, .25);
   position: relative;
   top: -15px;
   background-color: white;
   padding: 10px;
   border-radius: 8px 8px 0 0;
}

.modal_header a{
  float: right;
  color: #A3ACB2;
  text-decoration: none;
  position: relative;
  top: -24px;
  font-size: 19px;
}

.modal_header h3{
  text-align: center;
  font-weight: 300;

}

.modal_main{
 background: #E5F2F7;
}

.modal_main .tweet_area{
  width: 470px;
  height: 120px;
  background: white;
  margin: 0 auto;
  border: 1px solid #99CDE1;
  border-radius: 6px;
}

.modal_main textarea{
  border: none;
  height: 100px;
  width: 450px;
  margin: 10px;
  overflow-y: hidden;
}

.modal_main textarea:focus{outline:0 !important;}

/******************************************************************************************************/

.modal_footer ul{
  position: relative;
  top: 10px;
  width: 470px;
  left: 5%;
  font-size: 12px;
}

.modal_footer li{
  display: inline-block;
  color: #2E9AC2;
  margin-left: 20px;
}


.modal_footer input{ display: none; }

.modal_footer button{
  font-size: 30px;
  border: 1px solid transparent;
  background: transparent;
  color: #2E9AC2;
  position: relative;
  top: 7px;
  padding: 2px 7px;
  cursor: pointer;
}

.modal_footer span{
  font-size: 12px;
  position: relative;
  top: -5px;
}

.modal_footer button:hover{
  background-image: linear-gradient(rgba(255,255,255,0), rgba(0,132,180,.1));
  border-color: rgba(0,132,180,.5);
  color: #0084B4;
  /*border: 1px solid transparent;*/
  border: 1px solid rgba(0,132,180,.5);
  border-radius: 5px
}


.modal_footer button.send_tweet:hover{
  color: white;
  background-color: #0084B4;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
}

.modal_footer .send_tweet{
  background-color: #0084B4;
  color: white;
  border-radius: 5px;
  padding: 9px;
}

.modal_footer button.send_tweet:disabled{opacity: 0.4;}

.send_tweet span{
  font-size: 17px;
  font-weight: 600;
}


.modal_footer .icon-quill{
  font-size: 15px;
}


/******************************************************************************************************/


/* Content Styles  */

/* Content */

.main_content{
	width: 82%;
	margin: 0 auto;
	margin-top: 50px;
}

aside .user_profile,
aside .trends{
	width: 280px;
	height: 280px;
	background-color: white;
	border-radius: 5px;
}

.user_profile img:first-of-type{
	width: 278px;
	margin-top: 10px;
	border-bottom: 1px solid #B3C2C1;
}

.user_profile img:last-of-type{
	position: relative;
	top: -32px;
	left: 12px;
	border: 3px solid white;
	border-radius: 4px;
}

.user_profile h3{
	position: relative;
	top: -77px;
	left: 100px;
}

.user_profile h5{
	position: relative;
	top: -75px;
	left: 100px;
}


.user_profile ul{

	display: inline-flex;
	position: relative;
	top: -55px;
	left: 20px;
	font-size: 10px;
	list-style-type: none;
}

.user_profile ul span{

	position: relative;
	top: 24px;
	font-size: 20px;
	color: #0084B4;
}

.user_profile ul li:first-child span:first-child{
	right: 42px
}


.user_profile ul span:last-of-type{
	right: 64px
}

#contain_input{
	border-top: 1px solid #99CDE1;
	padding: 5%;
	position: relative;
	top: -20px;
	background: #E5F2F7;
	border-radius: 0px 0px 5px 5px;
}

#contain_input input{
	width: 250px;
	height: 24px;
	border: 1px solid #99CDE1;
	color: #66757F;
}

.trends h2{
	color: #66757F;
	margin: 15px 5px;
	font-weight: 300;
}

.trends ul{
	list-style: none;
	margin: 13px;
}

.trends ul li{

	margin-top: 8px;
	color: #0084B4;
}

/******************************************************************************************************/

/* Feeds new */

.feed_news{
	width: 50%;
	float: right;
	border: 1px solid white;
	position: relative;
	/*top: -574px;*/
	left: -25%;
	background: white;
	border-radius: 5px;
}

.feed_news h2{
	font-weight: 300;
	padding: 10px;
	color: #66757F;
}

.retweet{
	position: relative;
	left: 40px;
	top: 10px;
	font-size: 12px;
	color: #8899A6;
}

.retweet>[class*=icon-]{
	color: white;
	padding: 2px;
	border-radius: 4px;
}

.retweet .icon-retweet{
	background: #77B255;
}

.retweet .icon-user{
	background-color: #55ACEE;
}

.retweet span:last-child{
	margin-left: 20px;
}

.tweet{
	border-top: 1px solid #E1E8ED;
}

.tweet a {
	color: #0084B4;
	text-decoration: none;
}

.tweet h3 span{
	font-size: 12px;
	font-weight: 400;
	color: #8899A6;
}

.tweet_content{
	position: relative;
	top: -58px;
	left: 70px;
}

.tweet_content p{
	width: 78%
}

.tweet img{
	width: 50px;
	border-radius: 20px;
	padding: 1%;
	margin-top: 20px;
}


.loc_class{
	font-weight: 300;
font-size: 15px;
position: relative;
top: -25px;
left: 18px;
color: #8899A6;
}

.social_area ul{
	display: inline-flex;
	position: relative;
	top: -25px;
	right: 30px;
	float: right;
}

.social_area ul li{
	list-style: none;
	margin-left: 5px;
	margin-left: 10px;
	font-weight: normal;
	font-size: 12px;
	color:#E1E8ED;
}

/* Extra info block */

.extra_info{
	float: right;
	position: relative;
	top: -572px;
	left: 584px;
}

.extra_info ul{
		list-style: none;
}

.who_follow,
.footer{
	width: 280px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 15px;
}

.who_follow h2{
	font-weight: 300;
	padding: 10px;
	color: #66757F;
}

.who_follow h5{
	position: relative;
	top: -50px;
	left: 60px;
}


.who_follow h5 span{
	font-size: 12px;
	font-weight: 400;
	color: #8899A6;
}

.who_follow li:nth-child(even){
	position: relative;
	top: -40px;
	left: 60px;
	text-align: center;
	width: 100px;
	padding: 2%;
	border-radius: 5px;
	background: rgba(204,214,221,0.3);
	border: 1px solid #CCD6DD;

}

.who_follow li:nth-child(even) button{
	border: 0;
	background: transparent;
	color: #55ACEE;
	font-size: 15px;

}

.who_follow li:nth-child(even):hover{
	background-color: #e1e8ed;
	background-image: linear-gradient(#fff,#e1e8ed);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	border-color: #e1e8ed;
}

.who_follow ul{
	padding: 5%;
}

.who_follow img{
	border-radius: 5px;
}

.footer ul {
	padding: 10%;
	font-size: 12px;
}

.footer ul li{
	display:inline-block;
	margin: 5px;
color: #8899a6;
}

.footer ul li:hover{
	text-decoration:  underline;
}


/* Media queries */

@media screen and (max-width: 1400px) {

 aside{
 	position: relative;
 	left: -5%
 }

 .main_content{
 	width: 75%
 }

 .extra_info{
 	left: 505px;
 }

.who_follow,
.footer{
	width: 230px;
}

.tweet_content img{
	width:
}

}
