// header
.twitterHeader{
  width: 100%;
  height: 46px;
  position: fixed;
  border-bottom: 1px solid $greyColorBorder;
  background: white;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__wrapper {
    width: 950px;
    margin: 0 auto;;
    &--navs {
      display: inline-block;
    }
  }

  &__navIcons {
    color: $greyColor;

    .active {
      border-bottom: 5px solid $redColor;
    }

    &--text {
      font-weight: bold;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      padding: 0 4px;
      font-size: 14px;
      position: relative;
      top: -5px;
      display: none;
    }

    &--list {
      li[class^="icon-"] {
        font-size: 20px;
      }

      .icon-twitter {
        color: $twitterColor;
        position: absolute;;
        margin-left: 200px;
        &:hover {
          color: $twitterColor;
          border-bottom: none;
          cursor: default;;
        }
      }
    }

    &--item {
      list-style: none;
      display: inline-block;
      padding: 0 12px 6px 12px;

      &:hover {
        color: $redColor;
        border-bottom: 5px solid $redColor;
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &__navSettings {
    float: right;

    &--list{
      margin: 0 20px;
    }

    &--item {
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 0 8px;

      &:last-child {
        position: relative;
        top: -7px;
        padding: 6px 12px;
        margin: 8px;
        border-radius: 5px;
        background: $redColor;
        color: white;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px;

        &::before {
          content: '';
          position: absolute;
          left: 10px;
          width: 8px;
          height: 10px;
          border-top: 2px solid;
          border-left: 2px solid;
          border-radius: 2px;
        }

        &::after {
          content: '';
          position: absolute;
          left: 21px;
          top: 18px;
          width: 10px;
          height: 8px;
          border-bottom: 2px solid;
          border-right: 2px solid;
          border-radius: 2px;
        }
      }
    }

    &--searchInput {
      input {
        border-radius: 50px;
        border: 1px solid $greyColorBorder;
        padding: 10px;
        background: $backgroundColor;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      .icon-search {
        position: absolute;
        right: 15px;
        color: $greyColor;
      }
    }

    &--userImg {
      position: relative;
      top: 5px;
      img{
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid $greyColorBorder;;
      }
    }

    &--quillText {
      display: none;
      font-size: 13px;
      font-weight: 500;
      position: relative;
      top: -2px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .twitterHeader {
    &__navIcons {
      &--text {
        display: inline;;
      }
      .icon-twitter {
        margin-left: 50px;
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .twitterHeader {
    &__wrapper{
      width: 1200px;
    }
    &__navSettings {
      &--quillText {
        display: inline;;
      }
    }
  }
}
