// header
.twitterHeader{
  width: 100%;
  height: 46px;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  background: white;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__wrapper {
    min-width: 926px;
    max-width: 1200px;
    margin: 0 auto;;
    &--navs {
      display: inline-block;
    }
  }

  &__navIcons {
    color: $greyColor;

    .active {
      border-bottom: 5px solid $redColor;
    }

    &--text {
      font-weight: bold;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      padding: 0 4px;
      font-size: 14px;
      position: relative;
      top: -5px;
    }

    &--list {
      li[class^="icon-"] {
        font-size: 20px;
      }
      .icon-twitter {
        color: $twitterColor;
        position: relative;
        left: 15%;
        &:hover {
          color: $twitterColor;
          border-bottom: none;
          cursor: default;;
        }
      }
    }

    &--item {
      list-style: none;
      display: inline-block;
      padding: 0 12px 6px 12px;

      &:hover {
        color: $redColor;
        border-bottom: 5px solid $redColor;
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &__navSettings {
    float: right;
    &--item {
      list-style: none;
      display: inline-block;
    }
  }
}
