// Project structure

html {
	background-color: $backgroundColor;
}

body {
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

.twitter{
  width: 950px;
  margin: 0 auto;
  padding: 70px 0;
  position: relative;

  img{width: 100px;}

  .twitterContainer {
    padding: 0 30px;

      &__main {
        width: 62%;
        border: 1px solid $greyColorBorder;
        border-radius: 5px;
        float: right;
      }

      &__aside {
        width: 34%;

        &--left {
          border: 1px solid $greyColorBorder;
        }
        &--right {
          border: 1px solid $greyColorBorder;
        }
      }
  }
}

@media only screen and (min-width: 1250px) {
  .twitter{
    width: 1200px;
    display: flex;;
    flex-direction: column;

    .twitterContainer {
      display: flex;

      &__main {
        width: 50%;
        flex: 1;
        float: none;
        margin: 0 10px;
      }

      &__aside {
        width: 24%;

        &--left {
          order: -1;
        }
        &--right {
        }
      }
    }
  }
}
