// Project structure

html {
	background-color: $greyColorBackground;
}

body {
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

.textareaCountRed {
	color: $redColor;
}

.hide {
	display: none;
}

.twitter{
  width: 950px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;

  .twitterContainer {
    padding: 0 30px;

      &__main {
        width: 590px;
        border: 1px solid $greyColorBorder;
        border-top-color: $redColorBorder;
        border-radius: 5px 5px 0 0;
        float: right;
      }

      &__aside {
        width: 290px;

        &--left {
          // border: 1px solid $greyColorBorder;
        }
        &--right {
          // border: 1px solid $greyColorBorder;
          margin-top: 10px;
        }
      }
  }
}

@media only screen and (min-width: 1250px) {
  .twitter{
    width: 1200px;
    display: flex;;
    flex-direction: column;

    .twitterContainer {
      display: flex;

      &__main {
        flex: 1;
        float: none;
        margin: 0 10px;
      }

      &__aside {

        &--left {
          order: -1;
        }
        &--right {
          margin-top: 0;
        }
      }
    }
  }
}
