.twitterTrends{
  &__wrapper{

    @include commonWrapper();

    &--title {
      color: $greyColor;
      font-size: 18px;
      font-weight: 300;
      margin-top: 0;
    }

    &--list {
      list-style: none;
      padding: 0;
      margin: -10px 0 0 0;
    }

    &--item {
      &:hover {
        cursor: pointer;
      }

      &:nth-child(odd) {
        color: $redColor;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }

      &:nth-child(even) {
        color: $greyColorLighter;
        margin-bottom: 10px;
      }
    }
  }
}
