.twitterFeeds {
  position: relative;

  &__tweet {
    background: white;
    padding: 10px;
    border-bottom: 1px solid $greyColorBorder;
    position: relative;

    &:hover {
      background: $greyColorBackground
    }

    &--retweet {
      margin-bottom: 10px;
      position: relative;
      left: 35px;

      .icon-retweet {
        color: $whiteColor;
        background: $greenColor;
        border-radius: 2px;
        padding: 1px;
        font-size: 12px;
      }
    }

    &--retweetUser {
      color: $greyColorLighter;
      padding-left: 10px;
    }
  }

  &__userProfile {

    width: 300px;
    border: 1px solid $greyColorBorder;
    border-radius: 5px;
    background-color: $whiteColor;
    max-height: 275px;
    position: absolute;
    z-index: 1;
    top: 70px;

    .container {
      padding: 0 10px 10px;
      position: relative;
      top: -27px;
    }

    &--banner {
      // background image added dinamycly on jade file
      background-size: 102%;
      height: 95px;
      background-position: -2px 50%;
    }

    &--list {
      padding: 0;
      margin: 5px 0 -5px;
    }

    &--item {
      display: inline-block;
      list-style: none;
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
        padding-right: 10px;
      }

      a {
        color: $greyColorLighter;
        font-size: 10px;
        letter-spacing: .02em;
        text-decoration: none;

        &:hover {
          color: $redColor;
        }
      }

      span {
        color: $redColor;
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding-top: 3px;
      }
    }

    &--imageProfile {
      border-radius: 7px;
      height: 70px;
      width: 70px;
      border: 3px solid $whiteColorBackground;
      box-sizing: border-box;
    }

    &--user {
      position: absolute;;
      left: 90px;
      top: 20px;

      a {
        text-decoration: none;
        color: $blackColor;
        &:hover {
          text-decoration: underline;
        }
      }

      span {
        position: absolute;
        top: 20px;
        left: 0px;
        color: $greyColor;
        font-weight: 400;
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--description {
      font-size: 12px;
    }

    &:before {
      content: "";
      border-top: 8px solid transparent;
      border-bottom: 8px solid $greyColor;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: -16px;
      left: 15px;
    }
  }

  &__content {

    &--imgProfile {
      width: 48px;
      position: absolute;
      img {
        border-radius: 6px;
      }
    }

    &--float {
      float: right;
      width: 90%;
      padding-left: 5px;
    }

    &--userName {
      margin: 0 0 5px;
      font-size: 13px;

      span {
        font-size: 12px;
        color: $greyColorLighter;
      }
    }

    &--tweetText {
      margin-top: 0;
    }

    &--image {
      img {
        width: 512px;
        position: relative;
        left: 57px;
        max-height: 450px;
        border-radius: 6px;
        object-fit: cover;
        object-position: 50% 0;
      }
    }
  }

  &__social {

    &--list {
      margin: 10px 0 0;
      padding-left: 60px;
    }
    &--item {
      list-style: none;
      display: inline-block;
      padding-right: 60px;
      font-size: 18px;
      color: $greyColorLighter;

      &:hover {
        color: $redColor;
        cursor: pointer;
      }

      span {
        font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-weight: 900;
        position: relative;
        top: -4px;
        left: 10px;
      }

      & + .icon-retweet {
        &:hover {
          color: $greenColor;
        }
      }

      &:last-child {
        position: relative;
        top: -5px;
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  .twitterFeeds{

    &__content {
      &--image {
        img {
          width: 460px;
        }
      }

      &--float {
        width: 88%;
      }
    }
  }
}
