// global variables
$redColor: RGBA(229, 85, 103, 1);
$greyColor: RGBA(101, 117, 128, 1);
$backgroundColor: RGBA(245, 248, 250, 1);
$twitterColor: RGBA(80, 171, 241, 1);
$greyColorBorder: rgba(0,0,0,0.15);
