@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?i99w8a');
	src:url('fonts/icomoon.eot?#iefixi99w8a') format('embedded-opentype'),
		url('fonts/icomoon.woff?i99w8a') format('woff'),
		url('fonts/icomoon.ttf?i99w8a') format('truetype'),
		url('fonts/icomoon.svg?i99w8a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e603";
}
.icon-quill:before {
	content: "\e604";
}
.icon-images:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e60b";
}
.icon-arrow-up-right:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e607";
}
.icon-user-add:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e60c";
}
.icon-retweet:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e602";
}
.icon-chat:before {
	content: "\e60a";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-slack:before {
	content: "\f198";
}
