extends ./partials/layout

block content
  include ./partials/nav
  
  .twitter  
    section.twitterContainer 
      
      section.twitterContainer__main     
        include ./partials/feedNews
      
        #postswrapper  
      
      aside.twitterContainer__aside.twitterContainer__aside--left
        .twitterProfile
          include ./partials/userProfile
        .trends
          include ./partials/trends
            
      aside.twitterContainer__aside.twitterContainer__aside--right
        .who_follow
          include ./partials/toFollow
        .footer
          include ./partials/footer
      
        
